*{
    margin:0;
    padding:0;
}
header{
    position:fixed;
    width:100%;
    top:0;
    left:0;
    background-color:deepskyblue;
    z-index:1;
}
.nav
{
    display:flex;
    justify-content: space-between;
    text-align: center;
    padding:20px 0;
    width:100%;
}
.nav img{
    width:80px;
    height:50px;
    margin-top:-10px;
}
a{
    text-decoration: none;
}
.container
{
    max-width:1000px;
    width:100%;
    margin:auto;
}
.cart-container
{
    margin-top:100px !important;
}
.back-homepage
{
    display:flex;
    align-items: center;
}
.back-homepage i{
    font-size:24px;
    color:dimgray;
}
.back-homepage span{
    font-size:1rem;
    font-weight:600;
    color:dimgray
}
.cart-s-title
{
    font-size:3.5rem;
    text-transform:uppercase;
    margin:1.5rem 0;
}
.cart-box
{
    display:grid;
    grid-template-columns: 80% 20%;
    gap:10px;
}
.menu
{
    display:flex;
    align-items: center;
    gap:1rem;
}
#cart-icon
{
    position:relative;
    color:#fff;
    font-size:20px;
    cursor:pointer;
}
#cart-count
{
    position:absolute;
    right:-10px;
    bottom:0;
    background-color: deeppink;
    color:#fff;
    width:10px;
    font-size:12px;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.product-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    padding:20px;
    margin:20px;
    margin-top:120px;
}
.product-img
{
    width:350px;
    height:350px;
    gap:20px;
}
.product-title
{
    font-size:1.25rem;
    font-weight:600;
    color:black;
    text-transform: uppercase;
    margin:0.8rem;
}
.product-price
{
    font-size:1.35rem;
    font-weight:600;
    margin:20px;
    color:#007bff;
}
.add-to-cart
{
    background:#007bff;
    color:#fff;
    font-weight:600;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    padding:10px;
    margin:0.6rem;
    cursor: pointer;
}
#cartItemsn
{
    display:grid;
    row-gap:1rem;
}
.cart-item
{
    display:grid;
    grid-template-columns: .5fr 1fr .5fr .5fr;
    align-items: center;
    gap:15px;
    border-bottom:1px solid #dbdbdb;
    padding-bottom:10px;
}
.cart-item img{
    width:80px;
    height:100px;
    object-fit:cover;
    object-position:center;
}
.cart-tilte-price
{
    display:grid;
    gap:8px;
}
.cart-item-title
{
    font-size:1.3rem;
    font-weight:600;
}
.cart-item-price
{
    font-size:1.6rem;
    font-weight:600;
}
.quantity-controls
{
    display:flex;
    align-items: center;
    gap:10px;
    margin-right:1rem;
}
.quantity-controls button{
    width:32px;
    height:32px;
    border:1.5px solid #007bff;
    background: transparent;
    display:flex;
    align-items: center;
    justify-content:center ;
    cursor:pointer;
    transition: all .3s ease;
    font-weight:500;
    color:#4a5568;
}
.quantity-controls i{
    color: #000;
    font-size:17px;
}
.quantity-controls button:hover{
    background:#f7fafc;
    border-color:#cbd5e0;
}
.quantity-controls input{
    width:40px;
    text-align: center;
    border:none;
    font-weight:600;
    color:#4a5568;
    background:transparent;
    font-size:20px;
}
.remove-from-cart i
{
    color:#000;
    font-size:20px;
    cursor:pointer;
}
.cart-tilte-price{
    display:flex;
    flex-direction:column;
}
#cartTotal
{
    font-size:20px;
    font-weight:600;
    margin-bottom:20px;
}
.checkout-btn
{
    margin-top:20px;
    background:green;
    color:#f0f8ff;
    text-align:center;
    padding:5px;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:1px;
    max-width:100px;
}
.aboutme
{
    display:flex;
    justify-content: center;
    padding:20px;
    margin:20px;
}
.about{
    width:70%;
    gap:20%;
}
.contact
{
    display:flex;
    gap:20px;
    margin:20px;
    padding:20px;
}
.contact img{
    width:70%;
    height:300px;
}
label{
    display:block;
    margin-bottom:16px;
    font-weight:bold;
    color:#333;
}
input,textarea{
    width:400px;
    padding:20px;
    border:1px solid #ddd;
    border-radius:4px;
    box-sizing:border-box;
    font-size:10px;
}
textarea{
    resize:vertical;
}
button
{
    background-color:#28a745;
    color:white;
    padding:10px;
    cursor:pointer;
    font-size:10px;
}
.toast-container
{
    position:fixed;
    top:100px;
    right:20px;
    z-index:1000;
    display:flex;
    flex-direction: column;
    gap:10px;
}
.toast{
    background-color: #007bff;
    color:#fff;
    padding:10px 20px;
    border-radius: 3px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    font-weight: 500;
    max-width:300px;
    word-wrap:break-word;
    opacity:0;
    transform:translateX(100%);
    transition:all 0.5s ease;
}
.toast-show
{
    opacity:1;
    transform: translateX(0);
}
.sect
{
    margin:10px;
    padding:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10%;
}
.text
{
    font-size:20px;
}
.footer
{
    text-align: center;
    padding:20px;
    align-items: center;;
}
#contact h2{
    text-align:center;
    margin-bottom:20px;
    font-size:-50px;
}
#about h2{
    text-align:center;
    margin-bottom:20px;
    font-size:-50%;
}
#home {
    display:flex;
    justify-content:space-around;
    gap:20%;
    margin-top:80px;
    background-color:#fff;
}
#home .home1
{
    margin-top:123px;
}
#home img{
    margin-top:80px;
    width:150px;
    height:40%;
}